$color-background: #F7F6F6;
$color-block: #FFFFFF;
$color-button: #7e8191;
$color-user: #A57BFF;
$color-subtext: #C09BFF;
$color-text: #8C8C8C;

@media (max-width: 1260px) {
    .nav__item:not(:first-child) {
        margin-left: 20px !important;
    }
}

@media (max-width: 1256px) {
    .nav__item:not(:first-child) {
        margin-left: 10px !important;
    }

    .nav__logo-block {
        width: 870px !important;
    }
}

@media (max-width: 1243px) {
    .app__genre-button {
        width: 200px !important;
    }
    .app__genre-button-text {
        font-size: 27px !important;
    }
    .app__genre-button-link {
        width: 184px !important;
        height: 45px !important;
    }
}
@media (max-width: 1220px) {
    .app__current-button {
        width: 450px !important;
    }
}
@media (max-width: 1200px) {
    .nav__item {
        font-size: 30px !important;
    }

    .nav__logo-block {
        width: 790px !important;
    }

    .nav__user {
        width: 140px !important;
    }
}

@media (max-width: 1120px) {
    .app__current-button-text {
        font-size: 33px !important;
    }
    .app__current-button-text {
        font-size: 33px !important;
    }
    .app__current-button {
        width: 435px !important;
    }
    .app__current-block img {
        width: 125px !important;
        height: 125px !important;
    }
}

@media (max-width: 1098px) {
    .nav__logo {
        margin-left: 18px !important;
    }

    .nav__logo-block {
        width: 775px !important;
    }
}
@media (max-width: 1080px) {
    .nav__item {
        font-size: 25px !important;
    }
    .nav__logo-block {
        width: 720px !important;
    }
}
@media (max-width: 1060px) {
    .app__current-button {
        width: 415px !important;
    }
    .app__block .app__genre-block img {
        width: 125px !important;
        height: 125px !important;  
    }
}

@media (max-width: 1030px) {
    .app__current-button {
        width: 390px !important;
    }
    .app__current-button img {
        width: 115px !important;
    }
    .app__current-button-link {
        width: 185px !important;
        font-size: 32px !important;
    }
    .app__current-button-text {
        font-size: 30px !important;
    }
}

@media (max-width: 1025px) {
    .nav__item {
        font-size: 20px !important;
    }
    .nav__logo-block {
        width: 650px !important;
    }
}

@media (max-width: 991px) {
    .app__genre-button-link {
        width: 160px !important;
    }
    .app__block .app__genre-block img {
        width: 115px !important;
        height: 115px !important;
    }
    .app__genre-button {
        width: 180px !important;
        height: 280px !important;
    }
    .app__genre-text {
        font-size: 40px !important;
    }
    .app__genre-button-text {
        font-size: 24px !important;
    }
    .app__current-text {
        font-size: 40px !important;
    } 
}

@media (max-width: 985px) {
    .app__current-button {
        width: 370px !important;
    }
    .app__current-button-link {
        width: 180px !important;
        font-size: 28px !important;
    }
    .app__current-button-text {
        margin-right: 16px !important;
    }
}

@media (max-width: 950px) {
    .nav__item {
        line-height: 30px !important;
    }
    .nav__logo {
        font-size: 31px !important;
    }
    .nav__logo-block {
        width: 560px !important;
    }
    .nav__item {
        font-size: 18px !important;
    }
}

@media (max-width: 940px) {
    .app__current-button {
        width: 300px !important;
    }
    .app__current-button-text {
        font-size: 24px !important;
    }
    .app__current-button img {
        width: 90px !important;
        height: 100px !important;
        margin-top: 42px !important; 
    }
    .app__current-button-link {
        width: 155px !important;
        font-size: 25px !important;
    }
    .app__current-button {
        height: 175px !important;
    }
}

// --------------------------------------------------
@media (max-width: 868px) {
    .container {
        padding-top: 0 !important;
    }
    // NAV 
    .nav {
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
    }
    .nav__user {
        width: 130px !important;
    }
    .nav__user img {
        width: 41px !important;
        height: 41px !important;   
    }
    .nav__user-text {
        font-size: 13px;
        line-height: 15px;
    }
    .nav__user-subtext {
        font-size: 13px;
        line-height: 15px;
    }
    // CURRENT
    .app__current-button {
        width: 288px !important;
        height: 111px !important;
    }
    .app__current-text {
        font-size: 28px !important;
        margin-top: 20px !important;
    }
    .app__current-button-text {
        font-size: 21px !important;
        margin-right: 30px !important;
        margin-bottom: 10px !important;
    }
    .app__current-button-link {
        width: 132px !important;
        height: 32px !important;
        font-size: 21px !important;
    }    
    .app__current-button img {
        width: 80px !important;
        height: 80px !important;
        margin-top: 18px !important;
        margin-left: 18px !important;
    }

    // GENRE
    .app__genre-text {
        font-size: 28px !important;
        margin-top: 25px !important;
    }
    .app__genre-button {
        width: 153px !important;
        height: 180px !important;
    }
    .app__block .app__genre-block img {
        width: 80px !important;
        height: 80px !important;
        margin-top: 19px !important;
    }
    .app__genre-button-text {
        font-size: 21px !important;
        line-height: 35px !important;
    }
    .app__genre-button-link {
        width: 115px !important;
        height: 30px !important;
        font-size: 14px !important;
        line-height: 18 !important; 
    }
    .app__genre-button-column-one {
        margin-top: 24px !important;
    }
    .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        width: 128px !important;
        justify-content: space-evenly;
        height: 23px !important;
    }

}
// --------------------------------------------------

@media (max-width: 845px) {
    .nav__item {
        font-size: 15px !important;
    }
    .nav__logo-block {
        width: 520px !important;
    }
    .app__genre-button-column-one {
        flex-wrap: wrap;
    }
    .app__genre-button-column-two {
        flex-wrap: wrap;
    }
    .app__genre-button {
        margin-top: 30px;       
    }
    .app__current-button-column-one {
        flex-wrap: wrap;
    }
    .app__current-button-column-two {
        flex-wrap: wrap;
    }
}

@media (max-width: 800px) {
    .nav__item img {
        width: 20px !important  ;
        height: 20px !important;
    }
    .nav__logo-block {
        width: 485px !important;
    }
}

@media (max-width: 770px) {
    .swiper-slide-active{
        margin-right: 0 !important;
      }
    .swiper__pahination-border {
        bottom: 10px !important;
    }  
}

@media (max-width: 763px) {
    .nav__item {
        height: 30px !important;
    }
    ul.nav__list {
        align-items: center;
    }
    .nav__logo {
        margin-left: 15px !important;
    }
    .nav__item {
        font-size: 13px !important;
    }
    .nav__logo-block {
        width: 455px !important;
    }
    .nav__user {
    }
}

@media (min-width: 745px) {
    .footer__app {
        display: none;
    }
}

@media (max-width: 745px) {
    .nav {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 100;
        box-shadow: 0px 10px 20px 5px rgba(165, 123, 255, 0.3);
    }
    .nav__list {
        display: none !important;
    }
    .nav__logo-block {
        width: 115px !important;
    }
    .app__current-block {
        background: #D9D9D9;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .app__genre-block {
        background: #D9D9D9;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .footer__app {
        position: fixed;
        display: flex;
        align-items: center;
        width: 100%;
        background: $color-block;
        z-index: 101;
        left: 0;
        bottom: 0;
        height: 104px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
    .footer__list {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .footer__item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background: $color-button;
        width: 75px;
        height: 75px;
        border-radius: 10px;
    }
    .footer__item img{
        width: 35px;
        height: 35px;
    }
    .footer__link {
        display: flex ;
        color: $color-block;
        text-align: center;
    }
    #game {
        font-size: 20px;
        line-height: 24px;
    }
    #application {
        font-size: 10px;
        line-height: 12px;
    }
    #search {
        font-size: 20px;
        line-height: 24px;
    }
    .swiper {
        margin-top: 95px;
    }
}

@media (max-width: 730px) {
    .nav__user {
        width: 120px !important;
    }
}
@media (max-width: 700px) {
    .swiper {
        width: 500px !important;
    }
    .swiper-pagination-border {
        bottom: 60px !important;
    }
}

@media (max-width: 630px) {
    .swiper {
        width: 435px !important;
    }
    .swiper-pagination-border {
        bottom: 20px !important;
    }
}

@media (max-width: 580px) {
    .swiper {
        width: 400px !important;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: 10px !important;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: 10px !important;
    }
}

@media (max-width: 540px) {
    .swiper {
        width: 350px !important;
    }
    .app__block {
        margin-top: 10px !important;
    }
}

@media (max-width: 515px) {
    .app__current-block {
        flex-direction: inherit !important;
        justify-content: center;
    }
    .app__current-button-column-one {
        width: 330px !important;
    }
    .container {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

@media (max-width: 430px) {
    .app__current-button {
        width: 266px !important;
    }
    .app__block .app__current-block img {
        width: 60px !important;
        height: 60px !important;
        margin-top: 30px !important;
    }
}


@media (max-width: 420px) {
    .app__current-button-text {
        font-size: 19px !important;
    }
    .app__current-button {
        width: 245px !important;
    }
    .app__genre-button {
        width: 135px !important;
        height: 166px !important;
    }
    .app__block .app__genre-block img {
        width: 65px !important;
        height: 70px !important;
    }
    .app__genre-button-text {
        font-size: 19px !important;
        line-height: 40px !important;
    }
}

@media (max-width: 405px) {
    .swiper {
        width: 330px !important;
    }
    .swiper-pagination-border {
        bottom: 35px !important;
    }
    .swiper-slide img {
        width: 70% !important;
    }
}

// @media (max-width: 400px) {
//     .app__current-text {
//         display: flex;
//         justify-content: center;
//         margin-left: 0 !important;
//     }
//     .app__genre-button-column-one {
//         width: 260px;   
//     }
//     .app__genre-button-column-two {
//         width: 260px;   
//         margin-bottom: 50px !important;
//     }
//     .app__genre-block {
//         align-items: center;
//     }
//     .app__genre-text {
//         display: flex;
//         justify-content: center;
//         margin-left: 0 !important;
//         margin-top: 60px !important;
//     }
    
// }

@media (max-width: 390px) {
    .swiper {
        width: 300px !important;
    }
    .swiper-slide img {
        width: 80% !important;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: -2px !important;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: -2px !important;
    }
}

@media (max-width: 380px) {
    .app__genre-button {
        width: 115px !important;
        height: 146px !important;
    }
    .app__genre-button-text {
        font-size: 16px !important;
        line-height: 25px !important;
    }
    .app__genre-button-link {
        width: 100px !important;
        height: 25px !important;
        font-size: 14px !important;
    }
    .app__genre-block img {
        margin-top: 12px !important;
    }
}

@media (max-width: 360px) {
    .container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

